@model WebApp.ViewModels.PostDetailsViewModel


<h1>投稿詳細</h1>

<h2>@Model.Post.PlaceName</h2>

<p>@Model.Post.LocationText</p>

<img src="@Url.Content(Model.Post.ImagePath)"
     width="300" />

<p>@Model.Post.CreatedAt</p>

<hr />

@*コメント追加*@
<h2>コメント追加</h2>
<form asp-action="AddComment"method="post">
    <input type="hidden"
           name="postId"
           value="@Model.Post.Id" />

    <textarea name="commentText"
              rows="4"
              cols="50"
              required></textarea>

    <br/>


    <button type="submit">コメント追加</button>

</form>

<h3>コメント一覧</h3>

@foreach (var comment in Model.Comments)
{
    <div>
        <p>@comment.CommentText</p>

        <small>
            @comment.CreatedAt.ToLocalTime()
        </small>


        @* コメント削除 *@
        <form asp-action="DeleteComment"method="post">

            <input type="hidden"
                   name="id"
                   value="@comment.Id" />

            <input type="hidden"
                   name="postId"
                   value="@Model.Post.Id" />

            <button type="submit">削除</button>
            
        </form>
    </div>

    <hr />
}

<!-- 編集画面へ -->
<a asp-action="Edit"
   asp-route-id="@Model.Post.Id">
    編集
</a>

<!-- 削除 -->
<a asp-action="Delete"
   asp-route-id="@Model.Post.Id"
   onclick="return confirm('本当に削除しますか？')">
    削除
</a>

<a asp-action="Index">
    一覧へ戻る
</a>