@model WebApp.ViewModels.PostDetailsViewModel


<h1>投稿詳細</h1>

<h2>@Model.Post.PlaceName</h2>

<p>@Model.Post.LocationText</p>

<img src="@Url.Content(Model.Post.ImagePath)"
     width="300" />

<p>@Model.Post.CreatedAt</p>

<hr />

<h3>コメント一覧</h3>

@foreach (var comment in Model.Comments)
{
    <div>
        <p>@comment.CommentText</p>

        <small>
            @comment.CreatedAt
        </small>
    </div>

    <hr />
}

<a asp-action="Index">
    一覧へ戻る
</a>