@model List<WebApp.Models.Post>

<h1>投稿一覧</h1>
<a href="/Posts/Create">投稿</a>

@foreach (var post in Model)
{
    <div>
        <h2>@post.PlaceName</h2>

        <p>@post.LocationText</p>

        <img src="@post.ImagePath" width="200" />

        <p>@post.CreatedAt.ToLocalTime()</p>


        <a asp-controller="Posts"
           asp-action="Details"
           asp-route-id="@post.Id">
            詳細
        </a>
    </div>
}